- content_for :title do
  About
.row.text-center
  .page-title.pad-top-25.pad-bottom-25.margin-bottom-30
    %h3.text-gray About The Flower Alley
  
  .page-content.text-gray
    %p 
      Hello. Welcome to The Flower Alley. So glad you are here. 
    %p
      The Flower Alley proudly serves the Novi area. We are family owned and operated. We are the only Florist in the area to offer Natural Flower Thearpy as part of our unique understanding of the healing powers of flowers. Because all of our customers are individuals, we are dedicated to making your experience a pleasant one. Wishing everyone health and prosperity.

    %p
      Let The Flower Alley be your first choice for flowers that have true meaning.
  
    %h3.text-gray.main-font Specialty Services
    %p We specialize in the following services:    
    %li Large inventory of fresh flowers 
    
    %li Tropicals
    
    %li Plants
    
    %li European/dish gardens
    
    %li Contemporary and traditional arrangements 
    
    %li High-style floral arrangements
    
    %li Silk arrangements
    
    %li Dried floral arrangements
    
    %li Weddings
    
    %li Funeral designs
    
    %li Extensive gift line 
    
    %li Gourmet and fruit baskets
    
    %li Gift baskets
    
    %li Greeting cards 
    
    %li Candles
    %p.thanks-msg Thanks for stopping by The Flower Alley.



    
