- content_for :title do
  Contact
.row.text-center
  .page-title.pad-top-25.pad-bottom-25.margin-bottom-30
    %h3.text-gray Contact
  
  .page-content.text-gray
    %h4.text-gray.main-font Contact The Flower Alley By Phone
    %p= phone_number_link("(248) 305-9190")
    %h4.text-gray.main-font Contact us by Email
    %p
    %h4.text-gray.main-font Stop by our Store
    %p 25914 Novi Rd. | Novi, MI 48375
  