- admin = try_spree_current_user.try(:has_spree_role?, "admin")
%header{:class => "header #{admin ? "logged-in" : "logged-out"}"}
  %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
    .container-fluid
      .row
        .navbar-header.col-sm-4
          %span#sidebar-toggle.navbar-toggle.pull-left{style: "position: relative;"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %ul.nav.navbar-nav.navbar-left
            %li
              = link_to main_app.admin_root_path do
                Switch to Main Admin Area
        .col-sm-8
          .navbar-right{"data-hook" => "admin_login_navigation_bar"}
