@import "variables";
@import "mixins";
@import "utility_classes";
@import "custom_foundation";
@import "framework_and_overrides";
@import "font-awesome";

.centered-list{
  list-style: none;
  li{
    display: inline-block;
  }
}
.top-logo-section{
  border-bottom: 1px solid $lightgray;
}

.page-title{
  font-family: lato, sans-serif;
  border-bottom: 1px solid $lightgray;
}
.page-content{
  text-align: justify;
  width: 70%;
  min-width: 250px; 
  margin:auto;

}

.thanks-msg{
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
}
.light-border-bottom{
  border-bottom: 1px solid $lightgray;
  //padding-top: 20px;
  //padding-bottom: 60px;
}

.picture{
  margin-top: 20px;
}
