$red:            #e54729;
$sky-blue:       invert($red);
$blue:           #002e62;
$yellow:         #ffcc00;
$green:          lighten(#55a602,8.5%);

$black:          #000;
$white:          #fff;
$mid-tone:       #9ea7ad;
$lighter-tone:   lighten($mid-tone, 30%);
$light-tone:     lighten($mid-tone, 15%);
$dark-tone:      darken($mid-tone, 30%);
$darker-tone:    darken($mid-tone, 45%);

$logopink: #D93898;
$logolightpink: #FBB8D8;
$logogreen: #4C9767;


//20th January
$darklategray: #4e4e4e;
$lightgray: #d2d2d2;


.bg-soft-pink{
  background-color: lighten($logopink,15%); 
}


.top-area{
  p{
  margin-bottom: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
   a{
    color: white;
    font-size: 16px;
   }
    
  }
}

//24th January
.text-gray{color: #666666;}
.text-logopink{color:$logopink; }


 


