$red:            #e54729;
$sky-blue:       invert($red);
$blue:           #002e62;
$yellow:         #ffcc00;
$green:          lighten(#55a602,8.5%);

$black:          #000;
$white:          #fff;
$mid-tone:       #9ea7ad;
$lighter-tone:   lighten($mid-tone, 30%);
$light-tone:     lighten($mid-tone, 15%);
$dark-tone:      darken($mid-tone, 30%);
$darker-tone:    darken($mid-tone, 45%);

$logopink: #D93898;
$logolightpink: #FBB8D8;
$logogreen: #4C9767;

