.row.top-section.pad-top-20.pad-bottom-10
  .small-12.small-centered.medium-uncentered.medium-6.columns
    = image_tag 'floweralley.png'
  .small-12.small-centered.medium-3.medium-uncentered.columns.text
    phone number here
%nav.top-bar{"data-topbar" => true}
  %ul.title-area
    %li.name
      = link_to 'Home', root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        Menu
  .top-bar-section
    %ul
      = render 'layouts/navigation_links'
