.top-infosection.pad-top-10.pad-bottom-5.bg-soft-pink
  .row
    .top-area.margin-bottom-0.text-white.left
      %p 25914 Novi Rd. Novi, MI 48375
    .top-area.margin-bottom-0.text-white.right 
      %p= phone_number_link("(248) 305-9190")  
.row.top-section.pad-top-20.pad-bottom-10
  .small-12.small-centered.columns.text-center
    = image_tag 'floweralley.png'
  / .small-12.small-centered.medium-3.medium-uncentered.columns.text
  /   phone number here
.row    
  %nav.top-bar{"data-topbar" => true}
    %ul.title-area
      %li.name
        = link_to 'Home', root_path 
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          Menu
    .top-bar-section
      %ul
        = render 'layouts/navigation_links'

